.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

.login-header {
  text-align: center;
  margin-top: 2px;
}

.login-logo {
  width: 120px;
  height: auto;
  margin-bottom: -10px;
  border-radius: 10px;
}

.login-title {
  margin-bottom: 8px;
  color: #ffffffff;
}

.login-subtitle {
  font-size: 1.2rem;
  color: #ffffffff;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  .login-title {
    color: #2c3033;
  }
  .login-subtitle {
    color: #434346;
  }
}